.main_block{
    overflow-x: hidden;
}

.homepage{
    position: fixed;
    top: 30%;
    left: 35.5%;
}
h1{
    color: indigo;
    position: fixed;
    top: 5%;
    left: 35.5%;
}
.candidate{
    position: fixed;
    top: 32%;
    left: 39%;
    font-size: 30px;
}
.voter{
    position: fixed;
    top: 46%;
    left: 39%;
    
}
.result{
    position: fixed;
    top: 60%;
    left: 39%;
    font-size: 30px;
}

.parent{
    height: 200px;
    margin: 20px 0px;
    

}
.child1{
    position: absolute;
    z-index: 1;


}
.child2{
    position: relative;
    z-index: 2;
    height: 150px;
    width: 150px;
    top: 10px;
    left: 15%;
    display: flex;
    
}
.child3{
    position: relative;
    z-index: 2;
    height: 150px;
    width: 200px;
    bottom: 65%;
    left: 30%;

}

.child4{
    position: relative;
    bottom: 120%;
    z-index: 2;
    left: 50%;
    overflow-x: hidden;
}

.vote_button{
    z-index: 3;
    position: fixed;
    text-align: center;
    height: 7%;
    width: 6%;
    font-size: 125%;
    border-radius: 10px ;
    
    top: 60%;
    background-color: skyblue;
    left: 90%;
    font-weight: bolder;
}